#container-externo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.musica-card {
    width: 450px; 
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 70px;
}

.musica-card h1 {
    font-size: 30pt;
    margin-bottom: 30px;
}

.musica-card .info {
    font-size: 20pt;
    color: #555;
    text-align: left;
    margin-bottom: 15px;
}

.musica-card .info p {
    margin: 5px 0;
}

.musica-card audio {
    width: 100%;
    margin-top: 10px;
}









.playlist-container {
    margin-top: 15px;
    text-align: center;
}

.btn-add {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 17pt
}

.btn-add:hover {
    background-color: #0056b3;
}

.playlist-select {
    margin-top: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-confirm {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-confirm:hover {
    background-color: #218838;
}