.musica{
    box-shadow: 5px 5px 5px black;
    min-width: 250px;
    border-radius: 20px;
    padding: 20px;
    height: 200px;
    background-color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.musica #artista{
    margin-right: 10px;
}
.musica #nome{
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: -30px;
}
.musica div{
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    color: rgb(60, 60, 60);
   
}

#ver{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;
}

#ver:hover{
    background-color: rgba(0, 0, 0, 0.685);
    cursor: pointer;
}

.musica a{
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
}